@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

$primaryColor: #111;
$accentColor: #0066ff;
$bodyColor: #111;
$shadowColor: #050505;
$depth1: 0 2px 6px rgba($shadowColor, .17);
$depth2: 0 2px 12px rgba($shadowColor, .17);
$depth3: 0 4px 24px rgba($shadowColor, .2);
$borderColor: white;
@keyframes blurInToView {
  from {
    filter: blur(20px);
    opacity: 0;
  }
  to {
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes dropDown {
  from {
    transform: translateY(-10%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes scale {
  from {
    transform: translate(-50%, -50%) scale(0.8);
  }
  to {
  }
}

* {
  transition: all .1s ease;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  background: $bodyColor;
  color: $borderColor;
  font-size: 12pt;
  text-rendering: optimizeLegibility;
}

.titlebar {
  z-index: 50000000000;

  .drag {
    width: calc(100% - 45px) !important;
    right: 0;
    left: initial !important;
  }
  .button {
    -webkit-filter: invert(100%);
  }
  .button-close:hover {
    -webkit-filter: none;
  }
}

.frame {
  height: 100vh;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: relative;
  .appbar {
    position: fixed;
    width: calc(100% - 45px+45px+45px);
    height: 29px;
    z-index: 5000000000000000;
    .appbar-flex {
      display: flex;
      flex-flow: row wrap;
      width: 100%;
      height: 100%;
      .appbarTitle {
        flex: 0 0 24px;
        margin: auto;
        padding: 0 20px;
        padding-left: 10px;
        user-select: none;
        cursor: default;
        font-size: 12px;
      }
      .appbarButton {
        flex: 0 0 24px;
        padding: 0 10px;
        display: flex;
        -webkit-app-region: nodrag;
        cursor: default;
        outline: none;
        user-select: none;
        span {
          margin: auto;
          padding: 0 10px;
          font-weight: 400;
          font-size: 12px;
        }

        img {
          width: 24px;
          height: 20px;
          margin: auto;
        }
        i {
          margin: auto;
          padding: 0 4px;
          font-size: 20px !important;
          text-rendering: geometricPrecision !important;
        }
        &:hover {
          background: rgba(gray, .1);
        }
        &:active {
          background: rgba(gray, .2);
        }
      }
      .appbarSpace {
        flex-grow: 1;
        -webkit-app-region: drag;
        opacity: 1;
      }
      .appbarMenu {
        position: relative;
        display: inline-flex;
        .appbarMenuContent {
          display: none;
          position: absolute;
          min-width: 160px;
          border: 1px solid rgba($borderColor, .1);
          box-shadow: $depth2;
          flex-flow: column wrap;
          top: 29px;
          z-index: 10000000;
          background: rgba($primaryColor, .7);
          animation: dropDown .2s ease;
          li,
          a {
            flex: 1;
            padding: 5px;
            font-size: 12px;
            text-decoration: none;
            display: block;
            color: $borderColor;
            transition: none;
            cursor: default;
            user-select: none;
            &:hover {
              background: rgba($borderColor, .1);
            }
          }
          .seperator {
            border-bottom: 1px solid rgba($borderColor, .1);
          }
        }
        .show {
          display: flex;
        }
      }
    }
  }
  .absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    animation: blurInToView .7s ease, scale .5s ease;
    img {
      max-width: 300px;
      align-self: center;
    }
  }
  .space {
    flex-grow: 1;
  }
  .blurred {
    filter: brightness(.9) blur(30px);
    pointer-events: none;
  }
  .show {
    display: flex !important;
  }
  .modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 500px;
    width: 500px;
    display: none;
    flex-flow: column wrap;
    border: 1px solid rgba($borderColor, .1);
    padding: 24px;
    z-index: 5;
    animation: blurInToView .7s ease, scale .5s ease;
    backdrop-filter: saturate(2) brightness(.95) blur(20px);
    img {
      width: 200px;
      align-self: center;
    }
    h1 {
      font-weight: 500;
      margin: 0;
      font-size: 2.5em;
    }
    h2 {
      font-weight: 500;
    }
  }
  .button {
    -webkit-appearance: none;
    border: 1px solid rgba($borderColor, .1);
    background: transparent;
    padding: 12px;
    color: rgba($borderColor, .7);
    font-size: 16px;
    font-family: inherit;
    outline: none;
    &:hover {
      border: 1px solid rgba($borderColor, .2);
      color: $borderColor;
      background: rgba($borderColor, .07);
    }
    &:active {
      border: 1px solid rgba($borderColor, .3);
      color: $borderColor;
      background: rgba($borderColor, .17);
    }
  }
  .modalGrid {
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 0 !important;
  }
  .modalRow {
    margin: 0 !important;
    .button {
      margin: 0 5px;
    }
    .button:first-child {
      margin-left: 0px;
    }
    .button:last-child {
      margin-right: 0px;
    }
  }
}

.playerContainer {
  flex: 1;
  position: relative;
  z-index: 1;
}

.mpv {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background: #000;
}

.media {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background: #000;
  z-index: -1;
  animation: blurInToView .7s ease, scale .5s ease;
}

#media {
  .controls {
    display: flex;
    height: 48px;
    position: absolute;
    bottom: 0;
    z-index: 50000000;
    width: 100%;
    border-top: 1px solid rgba($borderColor, .1);
    .controls-flex {
      background: rgba(0, 0, 0, .5);
      transition: all .1s ease;
      backdrop-filter: saturate(2) blur(20px);
      display: flex;
      height: 100%;
      width: 100%;
      flex-flow: row wrap;
      .control {
        height: 40px;
        max-width: 40px;
        flex: 0 0 40px;
        font-size: 20px;
        border: 1px solid rgba($borderColor, .1);
        outline: none;
        cursor: pointer;
        background: transparent;
        margin: auto 1px;
        color: rgba($borderColor, .7);
        i {
          line-height: 32px;
        }
      }
      .control:first-child {
        margin-left: 5px;
      }
      .control:last-child {
        margin-right: 5px;
      }
      .control:hover {
        background: rgba($borderColor, .2);
        color: rgba($borderColor, 1);
        border: 1px solid rgba($borderColor, .3);
      }
      .seek {
        flex: 1;
        margin: auto 15px;
        cursor: pointer;
        outline: none;
      }
    }
  }
}

.media > video::-webkit-media-controls {
  animation: blurInToView .7s ease, scale .5s ease;
}

.media > video::-webkit-media-controls-enclosure {
  overflow: hidden;
  position: absolute;
  bottom: 48px;
  height: 48px;
  animation: blurInToView .7s ease, scale .5s ease;
}

.media > audio::-webkit-media-controls-enclosure {
  overflow: hidden;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: blurInToView .7s ease, scale .5s ease;
}

.media > video::-webkit-media-controls-panel,
audio::-webkit-media-controls-panel {
  background: rgba(255, 255, 255, .5);
  height: 100%;
  padding: 0;
  max-width: calc(100% - 300px);
  margin-left: auto;
  margin-right: auto;
  transition: all .1s ease;
  backdrop-filter: saturate(2) blur(20px);
}

@media (max-width: 600px) {
  .media > video::-webkit-media-controls-enclosure,
  audio::-webkit-media-controls-enclosure {
    bottom: 0px;
  }
  .media > video::-webkit-media-controls-panel,
  audio::-webkit-media-controls-panel {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

.media > video::-webkit-media-controls-panel:hover,
audio::-webkit-media-controls-panel:hover {
  background: rgba(255, 255, 255, 1);
}

.media > video::-webkit-media-controls-play-button {
  margin-left: 15px;
  color: white !important;
}

.media > audio::-webkit-media-controls-play-button {
}

.media > video::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-current-time-display {
  /*color: white !important;*/
  font-family: BlinkMacSystemFont, 'Segoe UI' !important;
}

.media > video::-webkit-media-controls-time-remaining-display,
audio::-webkit-media-controls-time-remaining-display {
  /*color: white !important;*/
  font-family: BlinkMacSystemFont, 'Segoe UI' !important;
}

.media > video::-webkit-media-controls-mute-button {
  color: white !important;
}

.media > video::-webkit-media-controls-fullscreen-button,
audio::-webkit-media-controls-fullscreen-button {
  color: white !important;
  margin-right: 15px;
}

.media > video::-internal-media-controls-download-button {
  color: white !important;
}
